/* Scroll */
#scrollButton {
    position: fixed;
    bottom: 75px;
    right: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Prevent interaction when hidden */
    transition: opacity 0.7s ease; /* Smooth fade-in effect */
}


#scrollButton.visible {
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Enable interaction */
}

.outer-circle {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: conic-gradient(
        #0075f4 0deg,
        #004bee var(--scroll-progress, 0deg),
        #e9363600 var(--scroll-progress, 0deg),
        #b3575700 360deg
    );
    transform: rotate(-90deg); /* Start animation from top */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.inner-circle {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgb(0 0 0 / 66%);
}

.arrow {
    font-size: 18px;
    color: #0075f4;
    font-weight: 1000; /* Extreme weight for more boldness */
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%); /* Add shadow to make it appear thicker */
    transform: rotate(90deg); /* Fixed direction to the right */
}
